<!DOCTYPE html>
<html lang="en">
<head>
    <title>Parkeergarage dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{% load staticfiles %}

<div class="row" align="center">
  <div class="col" style="background-image:url('{% static 'images/background_picture.png' %}');">
          <img src= "{% static 'images/wf2.png' %}" align="center" hspace="20"height="150" width="250" alt="Text to display if image is not found">
  </div>
</div>

    <div class="row">
        <div class="col-3 text-center">
            <div class="center" style="margin-top: 30px;">
                <h3><strong>Recent aangemelde gebruikers:</strong></h3>
            </div>
        </div>

        <div class="col-9 text-center">
            <div style="margin-right: 100px;" align="left">
                <ul class="list-group"  style="margin-top: 30px;">
                    <li class="list-group-item">{% for current_data in current_data_sensor%} Naam: <b>{{current_data.cardID}} </b> tijd ingecheckt: <b>{{current_data.created_at}}</b> Geautoriseerd: <b>{{current_data.authorised}}</b></br>{%endfor%}</li>
                </ul>
                <br>

<!--<div class="container">-->
<!--        &lt;!&ndash; Button to Open the Modal &ndash;&gt;-->
<!--        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">-->
<!--          Meer info...-->
<!--        </button>-->
<!--      -->
<!--        &lt;!&ndash; The Modal &ndash;&gt;-->
<!--        <div class="modal" id="myModal">-->
<!--          <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--            -->
<!--              &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--              <div class="modal-header">-->
<!--                <h4 class="modal-title">Ingecheckte gebruikers</h4>-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--              </div>-->
<!--              -->
<!--              &lt;!&ndash; Modal body &ndash;&gt;-->
<!--              <div class="modal-body">-->
<!--                <ul class="list-group">-->
<!--                    <li class="list-group-item">{% for data in data_sensor%}Naam: <b>-->
<!--                {{data.cardID}}-->
<!--                </b>, tijd ingecheckt: {{data.created_at}} <br>{%endfor%}</li>-->
<!--                </ul>-->
<!--              </div>-->
<!--              -->
<!--              &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--              <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-warning" data-dismiss="modal">Sluiten</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
   </div>
</div>
    
    <hr>
    <!--Grafiek-->
    



</body>
</html>